<header id="header" class="page-topbar">
  <div class="navbar-fixed">
    <nav class="navbar-color purple darken-4">
      <div class="nav-wrapper">

        <ul class="left">
          <li>
            <h1 class="logo-wrapper">
              <%= link_to 'Dictionary', root_path, { class: 'brand-logo darken-1' } %>
            </h1>
          </li>
        </ul>

        <%= form_tag words_path do %>
          <div class="header-search-wrapper hide-on-med-and-down">
            <i class="material-icons">search</i>
            <input type="text" name="q" class="header-search-input z-depth-2"
              placeholder="Look up a word" id="search" value="<%= @word if @word %>">

            <div id="search-options">
              <input class="with-gap purple darken-4" name="search_type" type="radio"
                id="by-description" value="<%= SearchType::MEANING %>"
                <%= 'checked' if @search_type == SearchType::MEANING || !@search_type %>
              />
              <label for="by-description">Description</label>

              <input class="with-gap" name="search_type" type="radio"
                id="by-word" value="<%= SearchType::WORD %>"
                <%= 'checked' if @search_type == SearchType::WORD %>
              />
              <label for="by-word">Word</label>
            </div>
          </div>
          <button class="btn dictionary-submit waves-effect waves-light hide-on-med-and-down" type="submit"
            name="action" id="search-button">Pesquisar</button>
        <% end %>
      </div>
    </nav>
  </div>
</header>
